  <footer>

    <div class="bg-purple-200">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">

        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512.000000 512.000000"
                preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
              </g>
            </svg>
            <span class="ml-3 text-xl">Cepario</span>
          </a>

          <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">Carrera 10# 19-62 Edificio Crisanto Luque

        </p>

        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">

        <!-- Instagram -->
        <a class="ml-3 text-pink-600 text-4xl hover:text-pink-500 hover:scale-110 hover:drop-shadow-lg transition-all duration-200"
          href="https://www.instagram.com/micrap_ud/"
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-brands fa-square-instagram"></i>
        </a>

        <!-- WhatsApp -->
        <a class="ml-3 text-green-500 text-4xl hover:text-green-400 hover:scale-110 hover:drop-shadow-lg transition-all duration-200"
          href="https://wa.me/+573193638926"
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-brands fa-square-whatsapp"></i>
        </a>

        <a class="ml-3 text-blue-500 text-4xl hover:text-blue-400 hover:scale-110 hover:drop-shadow-lg transition-all duration-200"
          href="mailto:Semilleromicrap@udistrital.edu.co"
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-solid fa-square-envelope"></i>
        </a>

        </span>
      </div>

    </div>

  </footer>
